QLabel {
    color: #b1b1b1;
}

QLineEdit {
    border: 10px;
    border-radius: 5px;
    background-color: white !important;
    color: #484d64;
    selection-background-color: #5021ff;
}

QComboBox {
    background-color: white;
    color: #484d64;
    border-radius: 5px;
}